@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.image {
  background-color: #162082;
  position: relative;
}

.download {
  padding: 1rem;
}

.download h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 0;
  color: white;
}

.text {
  padding: 10px 1rem;
}

.left p {
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}

.download .btn a img {
  width: 100%;
  height: 70px;
}

.btn {
  display: flex;
  width: 100%;
}

.btn a {
  margin-right: 20px;
}

.iphones {
  padding: 2rem;
}

.product {
  margin: 1rem 0;
}

.product h3 {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

.product i {
  font-size: 15px;
  margin: 0 6px;
}

.left img {
  width: 90px;
}

.ambass {
  margin: 2rem 0;
}

.ambass h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 2rem 0;
}

.need h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 1rem 0;
}

.need li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.499);
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.need li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 40%;
  background-color: rgb(10, 197, 10);
  position: absolute;
  top: 40%;
  left: -2px;
}

.copyright {
  padding: 10px 1rem;
}

@media (min-width: 768px) {
  footer {
    padding: 4rem 0;
    width: 80%;
    margin: 1rem auto;
  }

  footer .image {
    height: 200px;
    background-image: url("./assets/banner2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin-bottom: 4rem;
  }

  .download {
    width: 60%;
  }

  .download h3 {
    font-size: 17px;
    text-transform: capitalize;
    margin: 10px 0;
    color: white;
  }

  .download .btn a img {
    width: 100%;
    height: 32px;
    margin-right: 7px;
  }

  .btn {
    display: flex;
  }

  .btn a {
    margin-right: 10px;
  }

  .iphones {
    width: 40%;
    height: 100%;
    display: flex;
    margin-left: 4rem;
  }

  .iphones .i1 {
    z-index: 99;
    height: 130px;
    transform: translateY(-48px);
  }

  .iphones img {
    height: 115px;
  }

  .iphones .i2 {
    transform: translateY(-40px) translateX(20px);
  }

  .iphones .i3 {
    transform: translateY(-40px) translateX(-67px);
    border-radius: 5px;
  }

  .product {
    margin: 0;
  }

  .text {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
  }

  .left {
    width: 30%;
  }

  .left p {
    margin-bottom: 0;
  }

  .left img {
    width: 100px;
  }

  .lists {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .lists li {
    margin: 10px 0;
  }

  .ambass {
    padding: 1rem 0;
  }

  .ambass h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 4rem 0;
  }

  .details {
    display: flex;
  }

  .details .image {
    width: 40%;
    height: 500px;
    margin-right: 2rem;
  }

  .details .image img {
    width: 100%;
    height: 100%;
  }

  .need {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

  .need h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .need li {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.499);
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
  }

  .need li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 40%;
    background-color: rgb(10, 197, 10);
    position: absolute;
    top: 40%;
    left: -2px;
  }

  .copyright {
    padding: 0 1rem;
  }
}
